<ion-header [translucent]="true" lines="none">
  <ion-toolbar class="ion-header-top">
      <ion-title class="title-font">Barebones Games</ion-title>
      <div class="text-subtitle-center">
        <p><b>Los mejores descuentos en juegos</b></p>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Contenedor de usuario y contraseña -->
  <div class="cont-centrado">
    
    <div class="logo-container">
      <img src="assets/images/gamer skeleton.png" alt="Logo" width="40%" height="100%">
    </div>

    <h1><strong>¡Bienvenido!</strong></h1>
    <!--Item con interpolación de Usuario en home-->
    <ion-item class="ion-item-custom" lines="none">
      <ion-label position="floating" class="login-label">Usuario</ion-label>
      <ion-input 
        [(ngModel)]="usuario" 
        [clearInput]="true"
      >
      </ion-input>
    </ion-item>
    
    <ion-item class="ion-item-custom" lines="none">
      <ion-label position="floating" class="login-label">Password</ion-label>
      <ion-input 
        [(ngModel)]="password"
        type="password" 
        [clearInput]="true"
      >
      </ion-input>
    </ion-item>

    <ion-button class="button-ingresar" (click)="login()">Ingresar</ion-button>
    
    <a href="/registro" class="crea-cuenta">O crea una cuenta</a>
    <a href="/recup-contra" class="crea-cuenta">¿Olvidaste tu contraseña?</a>
    
  </div>
</ion-content>
