.title-anim {
  text-align: right;
  font-weight: bold;
  animation: shrinkTitle 2s forwards; // Definición de animación de título
}

@keyframes shrinkTitle { // Detalles de la animación de título
  0% {
    font-size: 12vw;
    transform: scale(1) translate(5%,20%); // Comienza en tamaño grande y desplazado
    opacity: 0;
  }
  100% {
    font-size: 5vw;
    transform: scale(1) translate(0%,0%); // Termina en tamaño y posición original
    opacity: 1;
  }
}

.ion-header-top{
  display: flex;
  color: black;
  border-width: 0;
  box-shadow: none;
  --background: #f5cc00;
  flex-direction: column;
}

.icons-button-container {
  width: 15%;
  height: 100%;
}

.icon-button {
  width: 80%;
  height: 100%;
}

ion-content {
  --background: #1F1F2E;
}

.div-container{
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
}

.title-font{
    font-size: 5vh;
    color: rgb(211, 211, 211);
    text-align: center;
    font-weight: bold;
}

.div-general{
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: flex-start;
}

.div-cards-container{
  display: flex;
  width: 94%;
  height: 100%;
  flex-direction: column;
  background-color: #333347;
  border-radius: 4px;
}

.card-juego {
  display:flex;
  align-items: flex-start;
  flex-direction: row;
  --background: #272735;
}

.card-juego-logo{
  width: 30%;
  height:100%;
}

.card-juego-info{
  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: column;
  padding-left: 2%;
}

.card-info-title{
  color: white;
  font-size: 4.5vw;
  font-weight: bold;
}

.card-info-subtitle{
  color:rgb(211, 211, 211);
  font-size: 3.2vw;
}


.card-info-precio{
  width: 100%;
  display:flex;
  padding-top: 6%;
  padding-right: 5%;
  color:white;
  font-size: 4vw;
  font-weight: bold;
  justify-content: space-between;
  align-items: end;
}

.ion-button-compra{
  color: black;
  width: 35%;
  height: 20%;
  font-size: 12px;
  --background: #f5cc00;
}