.menu{
    --background: #272735;
}

.menu-toolbar{
    --background: #f5cc00;
    --color: black;
}

.menu-item{
    --background: #1F1F2E;
    --color:rgb(211, 211, 211);
    --border-color: white;
}

.menu-list{
    background: #1F1F2E;
}